*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}
html {
  // This defines what 1rem is
  font-size: 62.5%;
}
/*
16/10 = 62.5% => zoon in page
one rem is exact root font-size; default is 16px but we set to 10px */

body {
  box-sizing: border-box;
}